body{
    background-color: #131426;
    height: 900px;
    
}
.history{
    display: flex;
   justify-content: center;
    width: 90%;
    height: 50%;
    
    background-color:blanchedalmond;
}

.container{
   display: flex;
    margin: 10px; 
    width: 50%;
    height: 60%;
    background-color:  blanchedalmond;


}




input{
display: flex;
flex-wrap: wrap;
width: 20%;
height: 10%;
margin: 10px;
font-size: 40px;
}

h1{
    
    color: black;
}

button{
    display: flex;
    background-color: rgb(101, 143, 17);
    width: 50px;
    height: 40px;
    margin: 10px;

}

